<%= form_tag({ :action => "dispatch_batch" }) %>

<%= link_to "New", :action => "new" %>
<%= button_tag "Destroy", :name => "batch_action", :value => "destroy", :id => nil %>

<%= raw @table %>


</form>

