<!DOCTYPE html>
<html>
<head>
  <title>Slashadmin</title>
  <%= stylesheet_link_tag    "slashadmin/application", media: "all" %>
  <%= javascript_include_tag "slashadmin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
